body {
    font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6 .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}

.subheading{
    font-family: 'Noto Sans TC', sans-serif;
    text-transform: none;
}
.expedu_icon{
    color:#495057
}
.expedu_icon:hover{
    color:var(--bs-primary);
}
:root{
    --bs-primary:#00a67d;
    --bs-primary-rgb:11 ,0,166;
    --bs-secondary:#c07300;
    --bs-secondary-rgb:268 ,143 ,0;
}
.expedu_icon:hover{
    color:var(--bs-secondary);
}

a{
    color:var(--bs-primary)
}

.social-icons .social-icon:hover{
    background-color: var(--bs-secondary);
}